<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div class="home">

    <% if(locals.user){%>
        <div>
            <div class="create-post">
                <h1>Create Post</h1>
                <form class="cf" action="/posts/create" method="POST">
                    <div>
                        <textarea name="content" type="text" id="input-message" placeholder="Type here"></textarea>
                    </div>
                    <input type="submit" value="Submit" id="input-submit">
                </form>
            </div>

            <div class="posts">
                <strong>Posts</strong>

                <ul class="alternating-colors">
                    <% for(let post of posts){ %>
                        <%- include("_post",{post:post})%>
                            <%}%>
                </ul>
            </div>
        </div>

        <div class="friends-list posts">
            <h1>Users</h1>
            <ul>
                <% for(let u of all_users){%>
                    <li>
                        <a style="color: rgb(17, 4, 65);" href="/users/profile/<%=u.id%>">
                            <%= u.name %>
                        </a>
                    </li>
                    <%} %>
            </ul>
        </div>

        <%- include("_chat_box");%>

            <%}else{%>
                <h1 class="block-effect" style="--td: 2.2s">
                    <div class="block-reveal" style="--bc: #4040bf; --d: .5s">SocialApp</div>
                    <div class="block-reveal" style="--bc: #bf4060; --d: .9s">NodeJs Project...</div>
                </h1>
                <%} %>
</div>

<script src="/js/toggle_likes.js"></script>
<script>
    $('.toggle-like-button').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if(locals.user){%>
    <script>
        new ChatEngine("user-chat-box", "<%= locals.user.email %>");
    </script>
    <%} %>